body {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 0px;
    min-height: 100vh;
}

.block1, .footer{
    background-color: #1F2937;
    display: flex;
}

.block1{
    flex-direction: column;
}

.footer{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.header{
    display: flex;
    color: #F9FAF8;
    font-size: 24px;
    justify-content: space-between;
}

.title_content{
    color: 
}

.main_text{
    font-size: 48px;
    font-weight:bolder;
    color: #F9FAF8;
}

.links{
    display: flex;
    list-style-type: none;

}

li a{
    font-size: 18px;
    color: #E5E7EB;
}

.decks {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
    flex-wrap: wrap;
}

.card{
    display: flex;
    flex-direction: column;
    align-items:center;
    width: 270px;

}

.description {
    text-align: center;
}

.container {
    display: flex;
}

.midcontainer {
    display: flex;
    justify-content: space-between;
    flex: 1;
    gap: 16px;
}

.caption {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.signup {
    display: flex;
    background-color: #3882F6;
}

.quote {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    justify-content: center;
    align-items: center;
}

.quote-text{
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
}

.hero{
    width: 200px;
    height: auto;
    border: 3px solid #3882F6;
    border-radius: 4px;
    margin-bottom: 6px;
}